*{
  box-sizing: border-box;
}

body{
      background-image: url('images/Wallpaper2.jpg');
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: fixed;
      color: black;
      font-family: 'Montserrat', Arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: justify;
    }
    .container{
      padding: 50px 20px;
      position: relative;
      font-family: 'Montserrat', Arial, sans-serif;
  
    }

    .flip-card-container{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    form{
      text-align: center;
    }

    .flip-card{
      perspective: 1000px;
      width: 300px;
      height: 280px;
      margin: 10px;
      border: 2px solid black;
      background-color: white;
      text-align: center;
    }

    .flip-card-inner{
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.6s;
    }

    .flip-card:hover .flip-card-inner{
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color:#D3F4F2;
      text-align: center;
    }

    .card-back{
      transform: rotateY(180deg);
    }

    .card-front img,
    .card-back img{
      max-width: 100%;
      height: 50%;
      display: block; 
    }
    .card-back p{
        height: 4%;
        margin:13px;
    }

    .card-front figure,
    .card-back figure{
      margin: 0;
    }

    .card-front ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .card-front figcaption{
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }

    .card-front ul li{
      margin: 5px 0;
    }

    .design-container{
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }

    .design-container .design{
      display: block;
      width: 10px;
      height: 10px;
      background-color: #2c3e50;
      margin: 0 2px;
      border-radius: 50%;
    }

    .profile-icon {
    position: absolute;
    left: 70px;
    top: 30px;
    width: 50px;
    height: 50px;
    background-image: url('images/profile2.png');
    background-size: cover;
    cursor: pointer;

  }
  
  .form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: white;
}

.form-container input[type=text], .form-container select, .form-container input[type=file], .form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container select:focus, .form-container input[type=file]:focus, .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container textarea {
  height: 100px; /* Adjust as needed */
  resize: none;
}


a,
a:link {
  font-family: inherit;
  text-decoration: none;
}



.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 500px;
  height: 50vh; 
  margin: 0 auto; 
}


form {
  padding: 2%;
  position: relative;
}
  
  .select-container select {
    width: 100%; 
    padding: 5px;
    font-size: 1rem; 
    border: 2px solid #74bdb7;
    color: #354c58 transparent;
    font: 700 16px 'Montserrat', sans-serif;
    background-color: transparent;
    margin-top: 3%;
    margin-bottom: 5%;
  }

  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    margin:auto;
}



label.text-small-uppercase {
    color: #74bdb7;
    font: 700 16px 'Montserrat', sans-serif;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

input.text-body,
select.text-body {
    background: none;
    border: none;
    border-bottom: 2px solid #74bdb7;
    box-sizing: border-box;
    height: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 16px;
}

input[type=submit] {
    background: #f37b56;
    border: none;
    color: #fff;
    height: 2.75rem;
    margin-top: 1em;
    padding: 0 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
}

input[type=submit]:hover {
    background: #f79577;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #354c58;
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .modal {
        width: 90%;
    }
}

.inputs--invalid input {
  animation: shake 0.3s cubic-bezier(.36, .07, .19, .97) both;
  border-bottom: 2px solid #f37b56;
  color: #f37b56;
}

.inputs--invalid label {
  color: #f37b56;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  33% {
    transform: translate3d(-6px, 0, 0);
  }
  66% {
    transform: translate3d(6px, 0, 0);
  }
}

.image-upload {
  text-align: center;
  padding: 15%;
  box-sizing: border-box;
}

.image-upload img {
  display: none;
  margin-top: 1rem;
}

.image-upload label {
  display: inline-block;
  cursor: pointer;
  background-color: #74bdb7;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}


.card-back a#modal-closed,
.card-back button {
--b: 3px;   /* border thickness */
--s: .15em; /* size of the corner */
--c: #000000;

padding: calc(.05em + var(--s)) calc(.3em + var(--s));
color: var(--c);
--_p: var(--s);
background:
conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
transition: .3s linear, color 0s, background-color 0s;
outline: var(--b) solid #0000;
outline-offset: .2em;
}

.card-back a#modal-closed:hover,
.card-back button:hover,
.card-back a#modal-closed:focus-visible,
.card-back button:focus-visible{
--_p: 0px;
outline-color: var(--c);
outline-offset: .05em;
}
.card-back a#modal-closed:active,
.card-back button:active{
background: var(--c);
color:transparent;
}

.card-back a#modal-closed,
.card-back button {
font-family: system-ui, sans-serif;
font-weight: bold;
font-size: 1.2rem;
color:blue;
cursor: pointer;
border: none;
margin-top: 0;
margin-right: 8px;
border-radius: 4px;
}

.modal {
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}
  
    .category-dropdown {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    position: relative; 
    width: 100%; 
}

.category-dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%);
}

.category-dropdown-content form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

.category-dropdown-content button {
    background-color: #323741;
    color:white;
    border: none;
    padding: 10px;
    text-align: center; 
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin: 5px 0;
    width: 100%; 
}

.category-dropdown-content button:hover {
    background-color: gray;
    border:3px solid blue;
}

.category-dropdown:hover .category-dropdown-content {
    display: block;
}
.dropbtn{
  border-radius:4px;
  cursor:pointer;
  color:white;
  padding:15px 10px;
  font-family: Arial, Helvetica, sans-serif;        
  display: flex;
  justify-content: center; 
  position: relative; 
  width: 15%; 
  background: #323741;
  box-shadow: 
  0 0 0 4px rgba(0, 0, 255, 0.2),
  0 0 0 8px rgba(0, 0, 255, 0.2); 
}

