*{
  box-sizing: border-box;
}

body{
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-image: url('images/Wallpaper2.jpg');
  background-attachment: fixed;
  font-family: 'Montserrat', Arial, sans-serif;
  margin-bottom:30px;
  padding: 0;
  font-size: 20px;
  text-align: justify;
}
h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  color: rgb(75, 122, 223);
  position:relative;
  text-align: center; 
}

h2 {
font-weight: 700;
text-transform: uppercase;
color: #FB667A;
text-decoration: none;
}
.reservation-card {
  border: 5px solid rgb(21, 85, 223);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(57, 68, 192, 0.1);
  margin: 20px 0;
  padding: 20px;
  background-color: #1F2739;
  width:400px;
  transition: transform 0.2s;
  position:relative;
  margin-right:10px;
  
}

.reservation-cards {
  display: flex;
flex-wrap: wrap; 
gap: 20px; 
justify-content: center; 
}
.reservation-card:hover {
  transform: scale(1.02);
}

.reservation-card h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.reservation-card p {
  margin: 5px 0;
  color:white;
  font-size: 16px;
}
  
.cancel-button {
  background-color: rgb(75, 122, 223);; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  
  display: block;
  margin: 10px auto 0;
}

.cancel-button:hover {
  background-color: #E6517D; 
}

.cancel-button:focus {
  outline: none; 
}


